:root {
  --white: #fffdfa;
  --cream: #fff8e9;
  --black: #1b1b1b;
  --brown: #574138;

  --light-green: #b3b6a5;
  --dark-green: #657561;

  --beige: #f0e9db;
  --sand: #bdac93;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--beige);
  color: var(--brown);

  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 200;
}




.btn,
.btn-secondary,
.btn-light {
  display: inline-flex;

  justify-content: center;
  align-items: center;

  min-width: 160px;

  padding: 10px 30px;

  border-radius: 999px;

  border: 1px solid var(--brown);

  text-decoration: none;

  font-family: 'Source Serif 4', serif;
  font-weight: 400;

  text-align: center;

  transition: 0.5s;
}

.btn:hover,
.btn-secondary:hover,
.btn-light:hover {
  opacity: 0.5;
}

.btn {
  background: var(--dark-green);
  color: var(--cream);
}

.btn-secondary {
  background: var(--sand);
  color: var(--brown);
}

.btn-light {
  background: var(--cream);
  color: var(--brown);
}

h1 {
  font-size: 34px;
  line-height: 1.15;
}

h2 {
  font-size: 26px;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
  line-height: 1.3;
}

p {
  font-size: 16px;
  line-height: 1.7;
}

@media (min-width: 900px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
  }
}